<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar_url</key>
	<string>https://avatars.githubusercontent.com/u/6284799?v=3</string>
	<key>bio</key>
	<string>less read more think</string>
	<key>blog</key>
	<string></string>
	<key>collaborators</key>
	<string>0</string>
	<key>company</key>
	<string>GongYu</string>
	<key>created_at</key>
	<string>2013-12-30T06:38:21Z</string>
	<key>disk_usage</key>
	<string>0</string>
	<key>email</key>
	<string>caijingpeng0418@gmail.com</string>
	<key>events_url</key>
	<string>https://api.github.com/users/caijingpeng/events{/privacy}</string>
	<key>followers</key>
	<string>2</string>
	<key>followers_url</key>
	<string>https://api.github.com/users/caijingpeng/followers</string>
	<key>following</key>
	<string>4</string>
	<key>following_url</key>
	<string>https://api.github.com/users/caijingpeng/following{/other_user}</string>
	<key>gists_url</key>
	<string>https://api.github.com/users/caijingpeng/gists{/gist_id}</string>
	<key>gravatar_id</key>
	<string></string>
	<key>hireable</key>
	<string></string>
	<key>html_url</key>
	<string>https://github.com/caijingpeng</string>
	<key>id</key>
	<string>6284799</string>
	<key>location</key>
	<string>Shanghai</string>
	<key>login</key>
	<string>caijingpeng</string>
	<key>name</key>
	<string>caijingpeng</string>
	<key>organizations_url</key>
	<string>https://api.github.com/users/caijingpeng/orgs</string>
	<key>owned_private_repos</key>
	<string>0</string>
	<key>private_gists</key>
	<string>0</string>
	<key>public_gists</key>
	<string>0</string>
	<key>public_repos</key>
	<string>1</string>
	<key>received_events_url</key>
	<string>https://api.github.com/users/caijingpeng/received_events</string>
	<key>repos_url</key>
	<string>https://api.github.com/users/caijingpeng/repos</string>
	<key>site_admin</key>
	<string>0</string>
	<key>starred_url</key>
	<string>https://api.github.com/users/caijingpeng/starred{/owner}{/repo}</string>
	<key>subscriptions_url</key>
	<string>https://api.github.com/users/caijingpeng/subscriptions</string>
	<key>total_private_repos</key>
	<string>0</string>
	<key>type</key>
	<string>User</string>
	<key>updated_at</key>
	<string>2016-08-01T04:46:32Z</string>
	<key>url</key>
	<string>https://api.github.com/users/caijingpeng</string>
	<key>plan</key>
	<dict>
		<key>collaborators</key>
		<string>0</string>
		<key>name</key>
		<string>free</string>
		<key>private_repos</key>
		<string>0</string>
		<key>space</key>
		<string>976562499</string>
	</dict>
</dict>
</plist>
